<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.daferfus_upv.btle">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION"/>


    <application android:name="com.example.daferfus_upv.btle.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_atodogas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_atodogas_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".Utilidades.TratamientoDeLecturas"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable"></service>


        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Perfil"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable"/>
        <activity android:name=".AcercaDe.InstruccionesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".PaginaGraficas"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.AdminActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.LogrosActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.ConsejosActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.RecorridoActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.MapaActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".Activities.InvitadoActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity android:name=".POJOS.GalleryActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <activity android:name=".Activities.Admin_web"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>

        <service
            android:name=".Utilidades.RastreadordeSensorService"
            android:exported="false" >
        </service>
    </application>

</manifest>